{% load i18n %}
{% autoescape off %} 

Ciao {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %},

{% blocktrans %}Hai richiesto l'impostazione o il reset della password per l'account associato a questa email sulla piattaforma {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Per creare una nuova password e accedere al tuo account, clicca sul link seguente:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Il tuo nome utente di accesso è: {{ user.username }}.{% endblocktrans %}

{% blocktrans %}Se non hai richiesto tu l'impostazione della password o il reset, puoi ignorare questa email. La tua password non sarà modificata.

Grazie,
Il team di supporto di {{ site_name }}
{% endblocktrans %}

{% endautoescape %}